html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  font-family: "Nunito";
  font-weight: 630;
}
label,
form p {
  color: white;
}

p a,
p a:hover {
  color: rgb(133, 231, 255);
}

h3 {
  color: rgb(108, 110, 112);
  font-weight: 630;
}

input {
  font-family: "Nunito";
  color: rgb(108, 110, 112) !important;
  font-weight: 630 !important;
}

hr {
  border-color: rgb(65, 66, 73);
}

.App {
  background-color: rgb(87, 85, 94);
  overflow-x: hidden;
  overflow-y: auto;
}

.header{
  width: calc(100% - 97px) !important;
  height: 85px;
  float: left;
}

.addIcon {
  width: 45px;
  height: auto;
  background-color: transparent;
  border: none;
}

.addIcon-wrapper {
  width: 280px;
  height: 150px;
  border-style: dashed;
  border-color: rgb(128, 128, 128);
  border-width: 2px;
}

.button-note {
  background-color: transparent;
  border: none;
  padding: none;
}

.note-card {
  width: 350px;
  min-height: 200px;
  max-height: 400px;
  height: auto;
  background-color: rgb(128, 128, 128);
  box-shadow: 0px 0px 12px 5px rgb(71, 71, 73);
  margin: 20px 10px 8px 10px;
  border-radius: 5px;
  overflow-y: auto;
  padding: 7px;
}

.float-left {
  float: left;
}

.mg-20 {
  margin: 20px;
}

.box-shadow {
  box-shadow: 0px 0px 12px 5px rgb(71, 71, 73);
}

.note-detail {
  background-color: rgb(128, 128, 128);
  color: white;
  width: 350px;
  height: auto;
}

@media (max-width: 425px) {
  .note-detail {
    float: center !important;
    clear: both;
  }
}
