html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  font-family: "Nunito";
  font-weight: 630;
}
label,
form p {
  color: white;
}

p a,
p a:hover {
  color: rgb(133, 231, 255);
}

h3 {
  color: rgb(108, 110, 112);
  font-weight: 630;
}

input {
  font-family: "Nunito";
  color: rgb(108, 110, 112) !important;
  font-weight: 630 !important;
}

.App {
  background-color: rgb(87, 85, 94);
  overflow: hidden;
}

.addIcon {
  width: 45px;
  height: auto;
  background-color: transparent;
  border: none;
}

.button-note {
  background-color: transparent;
  border: none;
  padding: none;
}

.note-card {
  width: 15%;
  height: 200px;
  box-shadow: 0px 0px 6px 4px rgba(204, 201, 201, 0.534);
  border-radius: 5px;
  margin: 20px;
  overflow-y: auto;
  padding: 7px;
}

.float-left {
  float: left;
}

.mg-20 {
  margin: 20px;
}

.box-shadow {
  box-shadow: 0px 0px 6px 4px rgba(204, 201, 201, 0.534);
}
